<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Treasure Island Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <pre class="ascii-art">
*******************************************************************************
          |                   |                  |                     |
 _________|________________.=""_;=.______________|_____________________|_______
|                   |  ,-"_,=""     `"=.|                  |
|___________________|__"=._o`"-._        `"=.______________|___________________
          |                `"=._o`"=._      _`"=._                     |
 _________|_____________________:=._o "=._."_.-="'"=.__________________|_______
|                   |    __.--" , ; `"=._o." ,-"""-._ ".   |
|___________________|_._"  ,. .` ` `` ,  `"-._"-._   ". '__|___________________
          |           |o`"=._` , "` `; .". ,  "-._"-._; ;              |
 _________|___________| ;`-.o`"=._; ." ` '`."\` . "-._ /_______________|_______
|                   | |o;    `"-.o`"=._``  '` " ,__.--o;   |
|___________________|_| ;     (#) `-.o `"=.`_.--"_o.-; ;___|___________________
____/______/______/___|o;._    "      `".o|o_.--"    ;o;____/______/______/____
/______/______/______/_"=._o--._        ; | ;        ; ;/______/______/______/_
____/______/______/______/__"=._o--._   ;o|o;     _._;o;____/______/______/____
/______/______/______/______/____"=._o._; | ;_.--"o.--"_/______/______/______/_
____/______/______/______/______/_____"=.o|o_.--""___/______/______/______/____
/______/______/______/______/______/______/______/______/______/______/_____ /
*******************************************************************************
    </pre>

    <h1>🏴‍☠️ Treasure Island Game 🏝️</h1>

    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}

    <form method="post">
        {% if step == "1" %}
        <input type="hidden" name="step" value="1">
        <label>Where do you want to go? (Right, Left, Just go back)</label>
        <input type="text" name="choice1" required>
        {% elif step == "2" %}
        <input type="hidden" name="step" value="2">
        <label>Swim, wait for boat, take horse, or own boat?</label>
        <input type="text" name="choice2" required>
        {% elif step == "3" %}
        <input type="hidden" name="step" value="3">
        <label>Which door? (Red, Green, Blue, Black, White)</label>
        <input type="text" name="choice3" required>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
</body>

</html>